* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-image: url(./images/bg.jpg);

}

.webpage {
  width: 100%;
  padding: 0;
  margin: 0;


}

.webpage-content{
  margin: 0 18% 0 18%;
  /* border: solid 1px black; */
}

.social-media-header {
  position: relative;
  width: 100%;
  height: 67px;
}

.subscribe {
  margin-top: 25px;
  color: #FFF;
}

.subscribe i {
  color: #FFF;
  font-size: 6px;
  margin-left: 10px;
}

.social-icons {
  left: 89px;
  display: flex;
  flex-direction: row;
  margin-top: 8px;

  font-size: 20px;

}

.social-icons i {
  width: 17%;
  margin-left: 5px;
  text-align: center;
  line-height: 35px;
  padding: 7px 5px 7px 5px;

}
.facebook {
  background-color: #475993;
  color: #7783AE;
}

.wifi {
  background-color: #C49045;
  color: #CFAE73;
}
.twitter {
  background-color: #708DC2;
  color: #94A8D0;
}
.youtube {
  background-color: #A54134;
  color: #B86E63;
}



/******************************************************** navigation buttons */
.navigation {
  margin-bottom: 8px;
}

.navigation-button{
  display: flex;
  justify-content: space-around;
}

.navigation-button button{
  width: 98%;
  display: flex;
  background-color: #A63634;
  border: none;
}

.navigation-button span {
    width: 100%;
    color: #FFF;
    padding: 0px 3px 0px 3px;
}






.banner-picture {
  height: 335px;

}




.article-links{
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;




}
.article {

  /* margin-left: 11px; */

  background-color: #FBFBFB;
}


/************************************************************ skateboarders */
.skateboarder-names {
  border: solid 1px #FFF;
}



/******************************************************** skateboard banner */
.skateboards {
  width: 100%;
  position: relative;
  margin-top: 20px;
  background-color: #FFF;
  height: 300px;
}


.skateboards img{
  position:absolute;
  transform: rotate(90deg);
  top: 119px;
  right: -71px;
  display: flex;
  flex-direction: row;

  height: 66px;
  width: 250px;
}

/**********************************************************************form */

.form-container {
  margin-top: 10px;
  background-color: #FFF;
  padding: 30px;
}

/* .form-left , .form-right {
  padding: 10px;

} */

.submit-button {


  background-color: #A63634;
  color: #FFF;
  border-radius: 0%;
}
