* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background: linear-gradient(rgba(130,130,130, .5),rgba(130, 130,130,.5));
  background-image: url(./images/bg.jpg);

}

.webpage {
  width: 100%;
  padding: 0;
  margin: 0;


}

.webpage-content{
  margin: 0 18% 0 18%;
  /* border: solid 1px black; */
}



.social-media-header {
  position: relative;
  width: 100%;
  height: 67px;
}
/************************************************************ subscribe a tag */
.subscribe {
  margin-top: 25px;
  color: #FFF;
}

.subscribe  a {
  color: #FFF;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 4px;
}

.subscribe a i {
  font-size: 5px;
  margin-left: 8px;
  vertical-align: middle;

}

.social-icons {
  left: 89px;
  display: flex;
  flex-direction: row;
  margin-top: 8px;

  font-size: 20px;

}

.social-icons i {
  width: 17%;
  margin-left: 5px;
  text-align: center;
  line-height: 35px;
  padding: 7px 5px 7px 5px;

}
.facebook {
  background-color: #475993;
  color: #7783AE;
}

.wifi {
  background-color: #C49045;
  color: #CFAE73;
}
.twitter {
  background-color: #708DC2;
  color: #94A8D0;
}
.youtube {
  background-color: #A54134;
  color: #B86E63;
}



/******************************************************** navigation buttons */
.navigation {

  text-align: center;
  margin-bottom: 8px;
}

a:hover {
  text-decoration: none;
}

.navigation-button {

  background-color: #A63634;

}

.navigation a {
  color: #FFF;
}

.navigation-button span {
  color: #FFF;
  font-size: 15px;
  margin: 0px 15px 0px 15px;
}

.navigation-button:not(:last-child){
  margin-right: 8px;
}

/* .navigation-button{ */
  /* display: flex;
  justify-content: space-around; */

  /* text-align: center;
}

.navigation-button a {
  width: 98%;
  display: flex;
  background-color: #A63634;
  border: none;
}

.navigation-button span {
    width: 100%;
    color: #FFF;
    padding: 0px 3px 0px 3px;
} */

/* margin-right:(not(:last-child)); on spans to create margin */





/******************************************************************* carousel */


#carousel {
  position: relative;
  height: 20vw;
  min-height: 300px;
  overflow: hidden;
  background: url('./images/top-image.png') no-repeat 35% 25%;
  border: solid 5px #FFF;
}

#carousel > .grid {
  opacity: .3;
}

#carousel  > .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;

}

/****************************************************************** articles */



.article-links{
  margin: 10px 0 10px 0;
}
.article {
  padding: 25px;

  background-color: #FBFBFB;
}

.article:not(:last-child){
  margin-right: 10px;
}

.article-heading {
  font-size: 23px;
  font-style: bold;

  line-height: 24px;
  margin-bottom: 14px;
}

.article time {
  color: #CACACA

}

.article-body {
  margin: 14px 0;
  font-size: 15px;
  line-height: 25px;
}

.article .read-more-button {
  text-align: center;

}

.article > .read-more-button > button {
  background-color: transparent;
  border-color: transparent;
  color:  #A63634;
  font-size: 20px;
  font-weight: bold;
}

.article > .read-more-button >  button > span {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 3px;
}


/************************************************************ skateboarders */
.skateboarders {
  position: relative;
}

.skateboarders .skateboarder-names span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}


.skateboarder-names {
  border: solid 4px #FFF;
  word-wrap: break-word;
}

.skateboarders .tommy img{
  height: 495px;

}





.skateboarders .steve {
  overflow: hidden;
  height: 301px;
  border: solid 4px #fff;
  /* margin-top: 5px; */
}
 .skateboarders .steve img {



   object-fit: fill;
   /* object-position: 50% 50%; */
   object-position: 0 -px;
   padding-bottom: 10px;


}






















/******************************************************** skateboard banner */
.skateboards {
  width: 100%;
  position: relative;
  margin-top: 20px;
  background-color: #FFF;
  height: 300px;
}


.skateboards img{
  position:absolute;
  transform: rotate(90deg);
  top: 119px;
  right: -71px;
  display: flex;
  flex-direction: row;

  height: 66px;
  width: 250px;
}

/**********************************************************************form */

.form-container {
  margin-top: 10px;
  background-color: #FFF;
  padding: 30px;
}

/* .form-left , .form-right {
  padding: 10px;

} */

.submit-button {


  background-color: #A63634;
  color: #FFF;
  border-radius: 0%;
}
